</main>
	
<footer>
	<div id="footer">
<div class="container" style="padding-left: 30px; padding-right: 30px;">
    <div class="row" style="margin-top: 80px;">
        <div class="col-lg-8 mb-8">
            <div id="welcomemessage">
        <script type="text/javascript">
            var day = new Date();
            var hr = day.getHours();
            if (hr >= 0 && hr < 12) {
                document.write("I look forward to working with you, thank you for reading, have a great morning!");
            } else if (hr >= 12 && hr <= 17) {
                document.write("I look forward to working with you, thank you for reading, have a great afternoon!");
            } else {
                document.write("I look forward to working with you, thank you for reading, have a great evening!");
            }
            document.write("</font></center>");
        </script>
    </div></p>
        </div>
        <div class="col-lg-4 mb-4">
            <a href="https://twitter.com/JamesWhitby20" target="_blank"><i class="fab fa-twitter" style="margin-right: 20px;"></i></a><a href="mailto:jameswhitby813@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-lg-4 mb-4">
            <h2>Navigation</h2>
            <a href="index.html" style="">Home</a><br>
            <a href="#projects">Projects</a><br>
            <a href="#contact">Contact</a>
        </div>
        <div class="col-lg-4 mb-4">
            <h2>Contact</h2>
            <a href="#contact" style="">Form</a><br>
            <a href="mailto:jameswhitby813@gmail.com">jameswhitby813@gmail.com</a><br>
    </div>
</div>
<br>
</div>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<style>
/* Contact */

#contact {
	padding-top: 30px;
}

#contact form input {
	border-top: none;
	border-bottom: 3px solid #444444;
	border-left: none;
	border-right: none;
	background-color: transparent;
	padding-left: 5px;
	margin-top: 5px;
}

#contact form textarea {
	border-top: none;
	border-bottom: 3px solid #444444;
	border-left: none;
	border-right: none;
	background-color: transparent;
	padding-left: 5px;
	padding-top: 5px;
	margin-top: 5px;
}

#contact label {
	padding-left: 5px;
}

#contact form input::placeholder, #contact form textarea::placeholder {
	color: #444;
}

#contact form button {
	color: white;
	background-color: black;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact form button:hover {
	background-color: #444;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Contact */

/* Footer */

#footer {
    border-top: solid 10px #333;
    background-color: white;
    color: #333;
}

#footer a {
    color: #333;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline
}

i {
  border: double 5px;
  padding: 10px;
  border-radius: 50px;
  color: #333;
}

i:hover {
  border: solid 5px;
}
</style>

</body>
</html>
